<div class="card h-30 border-0 rounded-4 shadow-sm text-center p-3 mx-auto" style="background-color: #e6be0cd7;">
  <div class="image mb-3 rounded-3 overflow-hidden">
    <img src="assets/images/products/j.jpeg" class="img-fluid w-100" alt="{{product.name}}">
  </div>
  <div class="card-body d-flex flex-column align-items-center p-0 w-100">
    <h6 class="card-title fw-bold mb-2 text-truncate" style="color: rgb(78, 124, 9);">{{ product.name}}</h6>
    <p class="card-text text-muted small flex-grow-1 px-2">{{product.description}}</p>
    <span class="badge bg-light text-secondary mb-3 rounded-pill px-3 py-1 text-xs"></span>
    <p class="fw-bold m-0 text-truncate" style="color: #f91010f1; font-size: 1.3rem;">{{ product.price}} XAF</p>
  </div>
</div>


